# Any sort of draw.io process map
*.drawio
# Ignore all .DS_Store files (created by macOS)
.DS_Store
# Ignore all .log files (commonly used for logging)
*.log
# Ignore all .tmp files (commonly used for temporary files)
*.tmp
# Documents 
*.docx
# Shapefiles
/WD_DEC_2025_UK_BFC_-465095694429775414/*
/UoM_road_shapefiles/*