# Any sort of draw.io process map
*.drawio
# Ignore all .DS_Store files (created by macOS)
.DS_Store
# Ignore all .log files (commonly used for logging)
*.log
# Ignore all .tmp files (commonly used for temporary files)
*.tmp
# Documents 
*.docx
# Shapefiles
student_sentiment/UoM_road_shapefiles/
fieldworker_movement/newcastle_upon_tyne_shapefiles/
# Cached files
fieldworker_movement/__pycache__/
# Any excel files
*.xlsx
# Network graph images to check functionality
fieldworker_movement/network_graphs/
# Address files
fieldworker_movement/addresses/
